{% load static %}
<!-- Features Section -->
<div id="features" class="text-center">
<div class="container">
    <div class="section-title">
    <h2>Our Specials</h2>
    </div>
    <div class="row">
        {% for item in special_menu_list %}
            <div class="col-xs-12 col-sm-4">
                <div class="features-item">
                <h3>{{ item.name }}</h3>
                <img src="{% static 'img/specials/1.jpg' %}" class="img-responsive" alt="">
                <p>...{{ item.price }} &#8377; </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div> 
</div>