{% load static %}
<html lang="en">

<head>
    {% include "kingsres/links.html" %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include "kingsres/navigation.html" %} 
    {% include "kingsres/header.html" %}
    {% include "kingsres/features.html" %}
    {% include "kingsres/about.html" %}
    {% include "kingsres/foodMenu.html" %}    
    {% include "kingsres/Contact.html" %}
    {% include "kingsres/footer.html" %}

    {% include "kingsres/scripts.html" %}
   
</body>

</html>